@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: hsl(214, 50%, 84%);
  font-style: "helvetica", "serif";
  font-size: 4rem;
}

.nav {
  position: fixed;
  width: 100%;
}
.nav_menu {
  position: relative;
  top: -1.7px;
  left: -1.7px;
  height: 20%;
  background: #62789d;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  list-style-type: none;
}
.nav_menu a {
  margin: 1em;
  font-weight: normal;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-image {
  background-image: url("../img/norway-4970081_1280.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.header-image .container {
  display: flex;
  justify-content: flex-end; /* Wyrównaj do lewej strony (osie głównej) */
  align-items: flex-end; /* Wyrównaj do dolnej strony (osie poprzecznej)*/
  height: 80vh; /* Dla przykładu, ustawia wysokość kontenera na całą wysokość widoku (viewport) */
  margin-right: 170px;
  font-size: 3.5rem;
}
.header-image .container_header-title::first-line {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.about_me-heading {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  font-size: 3.6rem;
}
.about_me-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1em;
  z-index: -100;
}
.about_me-image {
  position: relative;
  width: 40%;
  height: 0 auto;
  border-radius: 10px;
  border: 2px solid white;
}
.about_me-text {
  font-size: 2.3rem;
  margin: 1.5em;
}
.about_me-text strong {
  color: red;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.my_offers-heading {
  display: flex;
  justify-content: center;
  margin: 2em 0 1em 0;
}

.my_offers {
  position: relative;
  margin: 20px 85px;
  width: 300px;
  height: 400px;
  z-index: -100;
}
.my_offers-image {
  width: 90%;
  height: 0 auto;
  border: 3px white solid;
  border-radius: 15px;
  padding: 1em;
}
.my_offers-title {
  font-size: 2.4rem;
  font-weight: 800;
  margin: 0.5em 0;
}
.my_offers-text {
  font-size: 2rem;
}

.my_prices-heading {
  display: flex;
  justify-content: center;
  margin: 1em;
  color: black;
}
.my_prices-box {
  position: relative;
  z-index: -100;
}
.my_prices-image {
  display: none;
  position: absolute;
  top: 50%;
  left: 15%;
  translate: transform(-50%, -50%);
  width: 1400px;
  height: 700px;
  border: 3px solid black;
  border-radius: 30px;
  opacity: 0.4;
}
.my_prices-list {
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media screen and (max-width: 786px) {
  .container_header-title {
    margin: 1em;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .nav {
    height: 30%;
    font-size: 1.9rem;
    margin: 0.2rem;
  }
  .about_me-heading {
    display: flex;
    font-size: 2.5rem;
    justify-content: center; /* Wyrównaj do lewej strony (osie głównej) */
  }
  .about_me-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -100;
  }
  .about_me-image {
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }
  .about_me-text {
    font-size: 1.5rem;
  }
  .about_me-text strong {
    color: red;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .row .my_offers {
    width: 230px;
    height: 300px;
    margin-right: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .row .my_offers-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    margin: 0 2em;
  }
  .my_prices-heading {
    display: flex;
    justify-content: center;
    margin: 1em;
    color: black;
  }
  .my_prices-image {
    display: none;
  }
  .my_prices-list {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .my_prices-elementList {
    margin: 1em;
  }
}/*# sourceMappingURL=style.css.map */