* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #bbcbbb;
	font-family: 'Roboto', serif;
	color: black;
	font-size: 36px;
	height: 100vh;
}

nav {
	position: fixed;
	top: 0;
	line-height: 50px;
	text-align: left;
	display: inline;
	background-color: gray;
	width: 100%;
	height: 60px;
}

ul {
	display: block;
	list-style-type: none;
}

li {
	float: left;
}

a {
	text-decoration: none;
	margin: 15px 0 0 50px;
	color: white;
	cursor: pointer;
}

// .nav-shadow{
//     position: absolute;
//     width: 100%;
//     height: 60px;
//     background-color: rgb(0,0,0,.7);
// }

.header-img {
	position: relative;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url('/img/norway-4970081_1280.jpg');
	height: 100vh;
	z-index: -10;
}

.academic_title {
	position: absolute;
	top: 80%;
	left: 7.5%;
}

.name_surname {
	position: absolute;
	top: 85%;
	left: 7.5%;
	color: white;
}

h3.me{
position: relative;
top: 90px;
left: 20px;
margin: 20px 20px 20px 70px;
padding: 10px;
}

p.me {
	position: relative;
    top: 60px;
    left: 100px;
	margin: 20px 0 0 40px;
	// margin: 20px;
	padding: 10px;
	font-size: 30px;
}

.break_line {
	inline-size: 800px;
	overflow-wrap: break-word;
}



.resize{
    position: relative;
    top: -40px;
    left: -130px;
    float: right;
    width: 700px;
    height: auto;
    margin: 30px;
    border-radius: 8px;
    border: 5px solid white;
}