* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	font-size: 10px;
}


body {
	background-color: #c2d3eb;
	font-family: 'Lato',sans-serif;
	font-size: 4rem;
}

.nav {
	position: fixed;
	width: 100%;

	&_menu {
		position: relative;
		top: -1.7px;
		left: -1.7px;
		height: 20%;
		background: #62789d;
		display: flex;
		// flex-direction: row;
		justify-content: right;
		align-items: center;
		list-style-type: none;
		a {
			margin: .9em;
			font-size: 3rem;
			font-weight: normal;
			text-decoration: none;
			color: rgb(255, 255, 255);
		}
	}
}

.header-image {
	background-image: url('../img/norway-4970081_1280.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;

	.container {
		display: flex;
		justify-content: flex-end; /* Wyrównaj do lewej strony (osie głównej) */
		align-items: flex-end; /* Wyrównaj do dolnej strony (osie poprzecznej)*/
		height: 80vh; 
		margin-right: 170px;
		font-size: 3.5rem;

		&_header-title::first-line {
			color: rgb(255, 255, 255);
			font-weight: 700;
		}
	}
}

.about_me {
	&-heading {
		display: flex;
		justify-content: center;
		margin-top: 3em;
		margin-bottom: 3em;
		font-size: 3.6rem;
		border: 1px solid white;
	}

	&-box {
		position: relative;
		display: flex;
		justify-content: center;
		margin: 1em;

		z-index: -100;
	}

	&-image {
		position: relative;

		width: 50%;
		height: 0 auto;
		// margin-left: .5em;
		border-radius: 10px;
		border: 2px solid white;
	}
	&-text {
		font-size: 2.3rem;
		margin: 1.5em;

		strong {
			color: red;
		}
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	// justify-content: space-between;

	// justify-content: right;
}

.my_offers-heading {
	display: flex;
	justify-content: center;
	margin: 2em 0 1em 0;
}

.my_offers {
	position: relative;
	margin: 2em;
	width: 300px;
	height: 400px;
	z-index: -100;

	&-image {
		width: 100%;
		height: 0 auto;
		border: 3px white solid;
		border-radius: 15px;
		padding: 1em;
	}

	&-title {
		font-size: 2.1rem;
		font-weight: 800;
		margin: 0.5em 0;
		text-align: center;
	}
	&-heading {
		display: flex;
		justify-content: center;
		margin-top: 4em;
		border: 1px solid white;
	}
}

.mainHeading {
	text-align: center;
	font-size: 4rem;
	margin-top: 2em;
	border: 1px solid white;
}
.flex-container {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 165rem;
	flex-wrap: wrap;
	margin-top: 2em;
}
.card {
	background-color: #ebdac2;
	border-radius: 30px;
	border: 3px white solid;
	width: 120rem;
	height: 25rem;
	margin: 1.5em;
	// display: flex;
}
.text {
	display: flex;
	flex-direction: column;
}
.heading {
	text-align: center;
	font-size: 3rem;
}

.main-text {
	font-size: 2.2rem;
	margin: 2em 1em 1em 1em;
}

.one {
	align-self: flex-start;
}

.two {
	align-self: flex-end;
}
.three {
	align-self: flex-start;
}

.four {
	align-self: flex-end;
}

.flex__contact {
	display: flex;
	background-color: white;
	height: 30vh;
	padding: 0.5em;
	justify-content: center;

	.flex__container-first {
		width: 91.5rem;
		height: 69.7rem;
		background-color: rgb(52, 174, 52);
		margin: 0em 0 0 1em;
	}
	.flex__container-first {
		background-image: url('/img/info_fb_weronika.jpg');
		background-position: center;
		background-size: cover;
		border-radius: 2rem;
		border: 1rem solid white;
	}
	.flex__container-second {
		width: 25vw;
		height: 25vh;
		// background-color: rgb(234, 243, 234);
		margin: 0em 0.5em 0.5em 3em;

		.contact_txt-heading {
			// margin-top: .5em;
			text-align: center;
			font-size: 4rem;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.contact_txt-text {
			// display: flex;
			text-align: center;
			margin: 0.2em;
			font-size: 3rem;
			margin-bottom: 0.5em;
			// align-items: center;
		}
	}
}

.letter {
	position: relative;
	top: 30vw;
	display: flex;
	justify-content: center;

	.to_me {
		width: 60vw;
		height: 30%;
		background-color: white;
		border-radius: 20px;
		border: 5px solid rgb(255, 119, 0);
		z-index: -100;
		margin-top: .5em;
	}

	.heading {
		margin: 0.5em;
		font-size: 3.8rem;
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1.5em;
		font-size: 3rem;
	}
	.text_element {
		align-self: center;
		margin: 0.1em;
	}
}

.footer_section {
	display: flex;
	position: relative;
	top: 20em;
	// margin: 1em;
	background-color: white;
	justify-content: center;
	// justify-content: space-between;

	// flex-wrap: nowrap;

	.footer-contact {
		margin: 1em;
		padding: 0.5em;
		font-size: 2.5rem;
		flex-direction: column;
	}

	.footer-links {
		margin: 1em;
		display: flex;
		flex-direction: column;
		padding: 0.5em;
		font-size: 2.5rem;
		// text-decoration: ;

		a {
			color: blue;
			padding: 0.1em;
		}
	}

	.footer-social {
		margin: 1em;
		padding: 0.5em;
	}

	.footer-copyright p {
		padding: 0.5em;
		margin: 1em;
		font-size: 3rem;
	}
}

// min-width - od tej rozdzielczosci
// max-width - do tej rozdzielczosci

@media screen and (max-width: 786px) {
	// .header-image {
	// 	width: 100%;
	// 	height: 0 auto;
	// }
	.container_header-title {
		margin: 1em;
		font-size: 1.6rem;
		font-weight: 700;
	}

	// .burger-btn{
	// position: fixed;
	// 	top: 20px;
	// 	right: 20px;
	// 	padding: 1em;
	// 	background: none;
	// 	border: 1px solid transparent;
	// 	cursor: pointer;
	// 	z-index: 1000;
	// 	width: 100px;
	// 	height: 100px;
	// 	border: 1px black solid;
	// 	background-color: red;
	// 	overflow: hidden;
	// }
	.nav {
		width: 100%;
		height: 30%;
		font-size: 1.9rem;
		margin: 0.2rem;
		a {
			font-size: 1.9rem;
		}
	}
	.about_me {
		&-heading {
			display: flex;
			font-size: 2.5rem;
			justify-content: center; /* Wyrównaj do lewej strony (osie głównej) */
			// align-items: flex-end;
			// margin: 1em
		}

		&-box {
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: -100;
		}
		&-image {
			width: 250px;
			height: 200px;
			border-radius: 10px;
		}

		&-text {
			font-size: 1.5rem;

			strong {
				color: red;
			}
		}
	}

	// .my_offers-heading {
	// 	// justify-content: center;
	// }

	.row {
		display: flex;
		flex-direction: column;
		z-index: -100;

		.my_offers {
			align-self: center;
			align-items: center;
			justify-content: center;
			width: 230px;
			height: 300px;
			// margin-right: 1.5em;
			// margin-top: 0.5em;
			margin-bottom: 0.5em;

			&-title {
				display: flex;
				align-items: center;
				flex-direction: row;
				font-size: 2rem;
				margin: 0 2em;
			}
		}
	}

	.mainHeading {
		font-size: 4rem;
		// color: white;
	}

	.card {
		background-color: #ebdac2;
		border-radius: 30px;
		border: 3px white solid;
		width: 30rem;
		height: 30rem;
		margin: 1.5em;
	}
	.heading {
		text-align: center;
		font-size: 2rem;
		margin: 0.5em;
	}

	.main-text {
		font-size: 1.5rem;
		margin: 2em 1em 1em 1em;
	}

	.my_offers-heading {
		margin: 2em 0 1em 0;
		font-size: 3.5rem;
	}

	#Kontakt.flex__contact {
		flex-direction: column;
		height: auto;
		align-items: center;

		.flex__container-first {
			width: 100%;
			height: 30vh;
			margin: 0;
		}

		.flex__container-second {
			width: 100%;
			height: auto;
			margin: 1em 0;
		}
	}

	.letter {
		.to_me {
			width: 30rem;
			text-align: center;
			.heading {
				font-size: 2rem;
			}
			.text {
				font-size: 2rem;
				align-items: center;
			}
		}
	}

	footer.footer_section {
		display: flex;
		flex-direction: column;
		text-align: center;

		.footer-contact{
			font-size: 2rem;
			margin: 0.2em;
			// padding: 0.1em;
		}
		.footer-links,
		.footer-social,
		.footer-copyright {
			margin-bottom: 0.5em;
		}
	}
}
